{% for info in info_list %}
<div class="card bg-warning">
    <div class="card-body">
        <h4 class="card-title text-primary" name="{{ info.index }}"><a href="#">{{ info.name }}</a></h4>
        <h5 class="card-text">stage: {{ info.stage }}</h5>
        <h5 class="card-text">num: {{ info.num }}</h5>
    </div>

</div>
{% endfor %}


<script>
$('.card-title').click(function () {
    var index = $(this).attr('name');
    $('#table').bootstrapTable('load', window['result_list'][parseInt(index)]);
});
</script>